.App {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 90vh;
}

ul{
  list-style: none;
}


.main {
  display: flex;
  max-width: 80%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

/* USER SCREEN */

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-size: 3em;
}

.user button {
  font-size: 0.5em;
  margin: 0.25em;
}

.user input {
  font-size: 0.5em;
  margin: 0.25em;
  border-color: black;
}

/* <--- USER SCREEN END ---> */


/* QUESTIONS */

.question_title{
  font-size: 3em;
  text-align: center;
}

.questions{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.questions button{
  font-size: 1.5em;
  padding: .5em;
  margin: .25em;
  min-width: 100%;
}

.score{
  font-size: 2em;
  text-align: center;
}

/* <--- QUESTIONS END ---> */


/* ENDGAME */

.end button{
  font-size: 2em;
  padding: .5em;
  margin: 1em;
}

.end h1{
  font-size: 3em;
}

.end{
  font-size: 1.25em;
}


/* <--- ENDGAME END ---> */